//
// Form element styles.
//

// Text inputs and textareas
textarea,
select,
input:where([type="email"], [type="number"], [type="password"], [type="search"], [type="text"], [type="tel"], [type="url"]) {
	line-height: normal;
	caret-color: var(--wp--preset--color--tertiary);

	&:focus {
		outline: var(--wp--custom--outline--width) var(--wp--custom--outline--style) var(--wp--preset--color--tertiary);
		outline-offset: var(--wp--custom--outline--offset);
	}

	&:focus:not(:focus-visible) {
		outline: none !important;
	}
}

// Map button element styles from theme.json to button and input button types.
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	color: var(--wp--preset--color--base);
	background-color: var(--wp--preset--color--contrast);
	padding-top: var(--wp--preset--spacing--30);
	padding-right: var(--wp--preset--spacing--50);
	padding-bottom: var(--wp--preset--spacing--30);
	padding-left: var(--wp--preset--spacing--50);
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 600;

	&:hover {
		background-color: var(--wp--preset--color--contrast-dark);
		color: var(--wp--preset--color--base);
	}

	&:focus {
		background-color: var(--wp--preset--color--contrast-dark);
		color: var(--wp--preset--color--base);
		outline: var(--wp--custom--outline--width) var(--wp--custom--outline--style) var(--wp--preset--color--tertiary);
		outline-offset: var(--wp--custom--outline--offset);
	}

	&:focus:not(:focus-visible) {
		outline: none !important;
	}
}
