includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - functions.php
        - inc
        - patterns
    excludePaths:
        - vendor
        - node_modules
        - dist
