//
// Editor stylesheet.
//

// Set $is-editor to true, which will be inherited anywhere the tools/context module is used.
@use 'tools/context' with (
	$context: editor,
);

// Import base styles.
@use 'base/global/admin-bar';

// Import modules.
@use 'modules/site';

.acf-block-preview {
	a {
		cursor: not-allowed;
		pointer-events: none;
	}
}
