//
// Editor stylesheet.
//

// Set $is-editor to true, which will be inherited anywhere the tools/context module is used.
@use 'tools/context' with (
	$context: editor,
);

@import 'base/global/*';

@import 'modules/*';

.acf-block-preview {
	a {
		cursor: not-allowed;
		pointer-events: none;
	}
}
