//
// Front-end stylesheet.
//

// Import base styles.
@use "base/global/admin-bar";

// Import modules.
@use "modules/site";
@use "modules/forms";
@use "modules/navigation";

/*
* Link styles
* https://github.com/WordPress/gutenberg/issues/42319
*/
a {
   text-decoration-thickness: 1px !important;
   text-underline-offset: .1em;
}

/* Focus styles */
:where(.wp-site-blocks *:focus) {
   outline-width: 2px;
   outline-style: solid;
}

/* Increase the bottom margin on submenus, so that the outline is visible. */
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item:not(:last-child) {
   margin-bottom: 3px;
}

/* Increase the outline offset on the parent menu items, so that the outline does not touch the text. */
.wp-block-navigation .wp-block-navigation-item .wp-block-navigation-item__content {
   outline-offset: 4px;
}

/* Remove outline offset from the submenus, otherwise the outline is visible outside the submenu container. */
.wp-block-navigation .wp-block-navigation-item ul.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
   outline-offset: 0;
}

/*
* Progressive enhancement to reduce widows and orphans
* https://github.com/WordPress/gutenberg/issues/55190
*/
h1, h2, h3, h4, h5, h6, blockquote, caption, figcaption, p {
   text-wrap: pretty;
}

/*
* Change the position of the more block on the front, by making it a block level element.
* https://github.com/WordPress/gutenberg/issues/65934
*/
.more-link {
   display: block;
}

/*
* Prevents unnecessary scrollbars while handling long lines of preformatted text.
* https://core.trac.wordpress.org/ticket/63875
*/
:where(pre) {
   overflow-x: auto;
}
